body, div, p, h1, h2, h3 {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.clear-fix {
	overflow: auto;
}

#main-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

.summary-entry,
.skills-entry,
.education-entry,
.work-entry,
.project-entry {
	padding: 0 5%;
	margin-bottom: 24px;
}

.school-entry,
.employer-entry {
	font-weight: bold;
	padding: 0;
}

h1, h2, h3, h4, 
.blue-text {
	color: #00bfff;
}

h1 {
	font-size: 40px;
	line-height: 48px;
	display: inline;
}

h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 29px;
	padding: 10px 5%;
}

h3 {
	font-style: italic;
	font-size: 26px;
	line-height: 22px;
	padding: 10px 5%;
	margin: 0;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 17px;
}

p {
	color: #333;
	line-height: 20px;
}

a {
	color: #152CA8;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 5px;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

.project-entry {

}

.work-entry ul {
	list-style-type: circle;
}

.work-entry li {
	margin-bottom: 5px;
	line-height: 20px;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: right;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
}

.white-text {
	font-weight: bold;
	color: #fff;
}

.gray {
	background-color: #f3f3f3;
	padding-bottom: 10px;
	clear: both;
}

#header, #footer {
	background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius: 50%;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.education-entry a {
	display: block;
}

#footer {
  color: #484848;
  text-align: center;
}

#lets-connect {
	background-color: #00bfff;
	color: #484848;
}


/* Media queries */

@media only screen and (max-width: 1024px) {
  #footer {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #footer {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
}

@media only screen and (min-width: 750px) {
  .biopic {
    display: block;
  }
}
